<h1>Welcome to Craigslist Jr.</h1>

<ul>
  <%@categories.each do |cat|%>
  <li>
    <a href="/<%=cat.title%>/posts"><%= cat.title%></a>
    <br>
    <br>
    <form name='create' action="/<%=cat.title%>/create" method='get'>
    <input type='submit' value='Create New Post'>
  </form>

  </li><br>
  <%end%>

  <div>
  </div>
</ul>

<footer>
  <form name='update' action="/update/" method='get'>
    <input type='text' name='item_key' placeholder="User Key">
    <input type='submit' value="Update Your Listing">

  </form>
</footer>
